---
layout: default
---
<!-- page.html -->
        <div class="post">
          <header class="post-header">
            <h1 class="post-title">{{ page.title }}
              
              {% if page.pdf %}
              <a href="{{ page.pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf" style="margin-left: 10px;margin-right: 10px;"></i></a>
              {% endif %}
              
              {% if page.git %}
              <a href="{{ page.git | prepend: ''}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fab fa-github" style="margin-left: 10px;margin-right: 10px;"></i></a>
              {% endif %}

              {% if page.store %}
              <a href="{{ page.store | prepend: ''}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-store" style="margin-left: 10px;margin-right: 10px;"></i></a>
              {% endif %}

              {% if page.web %}
              <a href="{{ page.web | prepend: ''}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-globe" style="margin-left: 10px;margin-right: 10px;"></i></a>
              {% endif %}

            </h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}
          </article>

        </div>
